@import '../../style/variables.scss';

.randomchar {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
		align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}

    &__block {
			padding: 1.5rem;
        display: grid;
        grid-template-columns: minmax(120px, 180px) auto;
        column-gap: 1.5rem;

				@media (max-width: 576px) {
					grid-template-columns: 1fr;
					row-gap: 1.2rem;
				}
    }
    &__img {
			width: 100%;
			height: auto;
			aspect-ratio: 1/1;
			object-fit: cover;
    }
    &__info {
			display: grid;
			grid-template-rows: auto auto auto;
			row-gap: 0.6rem;
    }
    &__name {
			font-weight: bold;
			font-size: 1.4rem;
			line-height: 1.3;
			text-transform: uppercase;
    }
    &__descr {
			font-size: 1rem;
			line-height: 1.4;
    }
    &__btns {
        a:nth-child(1) {
            margin-right: 30px;
        }
    }
    &__static {
        padding: 40px 35px;
        background-color: $dark;
        position: relative;
        button {
            margin-top: 13px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.045em;
        color: #FFFFFF;
        &:nth-child(2) {
            margin-top: 33px;
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: -37px;
    }
}